.dashboard-container {
  padding: 20px;
  background: #f4f6fa;
  min-height: 100vh;
  width: 80%;
  position: absolute;
  top: 3.7rem;
  right: 0px;
  overflow: hidden;
}

.dashboard-header {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staff-info {
  font-size: 18px;
  font-weight: 600;
}

.staff-info .role {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  background: #0d6efd;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

.dashboard-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card-box {
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  padding: 25px;
  border-radius: 12px;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-box p {
  font-size: 28px;
  margin-top: 10px;
}