/* .table-hover tbody tr:hover {
  background-color: #f1f9ff;
  transition: 0.3s;
}

h2 {
  font-weight: 600;
}

.table th,
.table td {
  vertical-align: middle !important;
}

.table-responsive {
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.manageparent {
  width: 80.5%;
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: linear-gradient(135deg, #0d6efd, #6610f2);
} */



.table-hover tbody tr:hover {
  background-color: #f1f9ff;
  transition: 0.3s;
}

h2 {
  font-weight: 600;
}

.table th,
.table td {
  vertical-align: middle !important;
}

.table-responsive {
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.manageparent {
  background-color: #1b1b2f;
  padding: 20px;
  border-radius: 3px;
  width: 80.5%;
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: linear-gradient(135deg, #0d6efd, #6610f2);
}
