/* Sidebar.css

.sidebar {
  width: 260px;
  background: #212529;
  color: white;
  padding-top: 20px;
  height: 100vh;
  overflow-y: auto;
}

.nav-link {
  padding: 12px 20px;
  color: #f8f9fa;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.nav-link:hover {
  background: #343a40;
}

.submenu {
  background: #343a40;
  padding-left: 35px;
  font-size: 16px;
}

.submenu li {
  padding: 10px 0;
  cursor: pointer;
}

.submenu li:hover {
  text-decoration: underline;
} */


.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1f2937;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;

}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 2px solid #4b5563;
  padding-bottom: 10px;
}

.module {
  margin-bottom: 15px;
}

.module-title {
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  background-color: #374151;
  border-radius: 6px;
  transition: 0.3s;
}

.module-title:hover {
  background-color: #4b5563;
}

.submodules {
  list-style-type: none;
  margin: 8px 0 0 15px;
  padding: 0;
}

.submodules li {
  margin: 6px 0;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #2d3748;
  transition: 0.3s;
  cursor: pointer;
}

.submodules li:hover {
  background-color: #475569;
}
